.userDataLinkPopup {
    text-decoration: underline;
    cursor: pointer;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}


.userDataLinkPopup:hover {
    background-color: rgba(68, 116, 157, 0.04)
}