.pdfContainer {
    display: inline;
    /*display: inline-flex;*/
    float: left;
    padding: 0;
}

.rightFloat {
    float: right;
}

.textBoxExpl {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 30vw;
    padding: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
}

.textBoxWord {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 19vw;
    white-space: nowrap;
}

.textBoxType {
    float: right;
    position: absolute;
    user-select: none;
    right: 3px;
    width: 11vw;
    text-align: right;
}

.textBoxReplacements {
    display: inline-block;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    padding-right: 7px;
    padding-left: 7px;
    margin-left: 10px;
}

.replacementsText {
    display: inline-block;
    font-style: italic;
}

.clickableTextDiv {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    mix-blend-mode: darken;
}


.hidden {
    display: none;
}

.smallGraph {
    width: 30vw;

}